/* make the customizations */
$theme-colors: (
    "primary": rgb(31, 106, 144),
    "success": rgb(32, 137, 0),
    "warning": rgb(243, 73, 0),
    "info": rgb(61, 107, 193),
    "danger": rgb(201, 41, 41)
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

body{
    background: #f1f1f1;
    background-image: linear-gradient(hsla(0,0%,100%,.2),hsla(0,0%,100%,.4)),url(https://raw.githubusercontent.com/blckclov3r/blckclov3r.github.io/master/public/bgslash.webp);
    background-size: auto;
    font-family: Open Sans,sans-serif;
}

.App{
    height: 100vh;
    flex-direction: column;
    display: flex;
}

footer{
    margin-top: auto;
    text-align: center;
}